<div class="account-pages my-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="card-body">
            <div class="p-2">
              <h4>Rummy Game</h4>
              <div class="mb-3">
                <label for="gameCount">Game Count</label>
                <input type="number" class="form-control" id="gameCount" [(ngModel)]="gameCount" placeholder="Game Count"/>
              </div>
              <div class="form-check">
                <input [disabled]="gameStarted" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" [value]="'traditional'" [(ngModel)]="gameType" checked>
                <label class="form-check-label" for="flexRadioDefault1">
                  Traditional
                </label>
              </div>
              <div class="form-check">
                <input [disabled]="gameStarted" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" [value]="'infinite'" [(ngModel)]="gameType">
                <label class="form-check-label" for="flexRadioDefault2">
                  Infinite
                </label>
              </div>
              <!-- <p>Selected Value: {{ gameType }}</p> -->
              <form [formGroup]="rummyForm" (ngSubmit)="submit()">
              <div class="table-responsive">
                  <table class="table table-bordered table-hover">
                    <thead class="thead-light">
                      <tr>
                          <th scope="col">Player Name</th>
                          <th scope="col">Action</th>
                      </tr>
                  </thead>
                  <tbody formArrayName="hints" *ngFor="let hint of hints.controls; let i = index" style="border-top: none;">
                    <tr>
                        <td>
                          <input type="text" class="form-control" [id]="'hint' + i" placeholder="Player Name" [formControlName]="i">
                          <div *ngIf="hint.errors?.['required'] &&
                                  hint.dirty" class="text-danger">
                                  <small style="font-size:70% !important">Player Name is required</small>
                          </div>
                        </td>
                        <td>
                        <div style="display:flex;">
                          <button [disabled]="gameStarted" type="button" class="btn btn-success rounded-circle btn-icon" (click)="addHint()" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add Player"><i class="bi bi-person-plus-fill"></i></button>&nbsp; &nbsp;
                          <button [disabled]="gameStarted" type="button" class="btn btn-danger rounded-circle btn-icon" (click)="removeHint(i)" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Remove Player">
                            <i class="bi bi-trash-fill"></i>
                          </button>
                        </div>
                        </td>
                    </tr>
                  </tbody>
                  </table>
                  </div>
                  <div class="text-danger fw-bold mb-2" *ngIf="hints.hasError('uniqueArray') && rummyForm.touched">
                    Player Name must be unique.
                  </div>
                  <button [disabled]="gameStarted" type="submit" class="btn btn-success me-2">Start Game</button>
                  <button [disabled]="!gameStarted" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#reset">Reset Game</button>
              </form>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- end container -->
</div>

<div *ngIf="gameStarted" class="account-pages my-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="card-body">
            <div class="p-2">
              <form [formGroup]="gameForm" (ngSubmit)="checkGame()">
              <h4>Game in progress...</h4>
              <div>Number of Matches Played : <span class="fw-bold">{{noOfMatches}}</span></div>
              <div *ngFor="let player of players;let i = index" class="mb-3">
                <label>{{player.name}}</label>
                <input type="number" class="form-control" [formControlName]="player.name" placeholder="Add Score"/>
                <div *ngIf="gameForm.controls[player.name].errors?.required && gameForm.controls[player.name].dirty" class="required-message text-danger">
                  <small style="font-size:70% !important">Required Field!</small>
                </div>
              </div>
              <button type="submit" class="btn btn-success">Add Score</button>
              </form>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- end container -->
</div>

<div *ngIf="gameStarted" class="account-pages my-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="card-body">
            <div class="p-2">
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead class="thead-light">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Score</th>
                    </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let player of players">
                    <td>{{player.name}}</td>
                    <td>{{player.score}}</td>
                  </tr>
                </tbody>
                </table>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end container -->
</div>

<!-- Modal -->
<div class="modal fade" id="reset" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Sure to reset</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <button class="btn btn-danger me-2" (click)="resetGame()" data-bs-dismiss="modal" aria-label="Close">Yes</button>
          <button class="btn btn-success" data-bs-dismiss="modal" aria-label="Close">No</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="winner" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Congratulations</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="fw-bold text-center mb-2">{{winner}} won the game</div>
        <div class="mb-3">
          <label for="gameCount">Increase Game Count</label>
          <input type="number" class="form-control" id="gameCount" [(ngModel)]="gameCount" placeholder="Game Count"/>
        </div>
        <button class="btn w-100 btn-success mb-2" data-bs-dismiss="modal" aria-label="Close">Continue Playing</button> <br>
        <button class="btn w-100 btn-danger" (click)="resetGame()" data-bs-dismiss="modal" aria-label="Close">Reset Game</button>
      </div>
    </div>
  </div>
</div>